<h2 class="text-center">About Me</h2>

<section class="container" id="description">
  <div class="row">

    <div class="panel-container">

      <p>I’m a full-stack web developer specialize in building websites and single-page web applications using modern languages.</p>
      <p>I am expert in HTML5, CSS3, JavaScript and PHP and I’m focused in good practices and performances, I am flexible, attentive to details and highly  motivated.</p>
      <p>I’m looking for a modern Agile team to join where I can work on a complex long term project, share my experience and learn from other developers.</p>
      <p>I like studying and improving my development skills and I’m not scared of starting new projects using new tecnologies.</p>
    </div>

  </div>
</section>
