<h2 class="text-center">Hire Me</h2>

<section class="container" id="description">
  <div class="row">

    <div class="panel-container">

      <p>Visit my <a href="https://uk.linkedin.com/in/andreazornada">LinkedIn</a> page or send me a message using the following form:</p>

      <div ng-controller="ContactController">
        <div class="alert alert-danger" ng-show="error">
          <strong>Error!</strong> An error occured while trying to send message.
        </div>
        <div class="alert alert-success" ng-show="success">
          <strong>Success! </strong> Your message was successfully sent.
        </div>
        <form role="form" name="contactForm" id="contact_form">
          <div class="form-group" ng-class="{error: contactForm.name.$invalid}">
          <label>Full Name</label>
          <input class="form-control" type="text" name="name" ng-model="formData.name" required="required" placeholder="Your name">
            <span class="help-block" ng-show="contactForm.name.$error.required">Required</span>
          </div>
          <div class="form-group" ng-class="{error: contactForm.email.$invalid}">
            <label>Email</label>
            <input class="form-control" type="email" name="email" ng-model="formData.email" required="required" placeholder="Your email address">
            <span class="help-block" ng-show="contactForm.email.$error.required">Required</span>
            <span class="help-block" ng-show="contactForm.email.$error.email">Invalid email address</span>
          </div>
          <div class="form-group" ng-class="{error: contactForm.message.$invalid}">
            <label>Message</label>
            <textarea class="form-control" rows="5" name="message" ng-model="formData.body" required="required" placeholder="Your messsage"></textarea>
            <span class="help-inline" ng-show="contactForm.message.$error.required">Required</span>
          </div>
          <div class="g-recaptcha" data-sitekey="6LfZOA8TAAAAAFR4oVVwpXf3v72ihH9cqrS0WMbf"></div>
          <button class="btn btn-primary btn-lg btn-block" ng-click="send()" ng-disabled="contactForm.$invalid">Send</button>
        </form>

      </div>

    <!-- panel-container -->
    </div>

  </div>
</section>
