<section class="panel-container">

      <a href="/#/about" class="panel panel-home">
        <div class="panel-background">
          <i class="fa fa-user"></i>
        </div>
        <div class="panel-heading"></div>
        <div class="panel-body">
          About Me
        </div>
        <div class="panel-footer"></div>
      </a>

      <a href="/#/skills" class="panel panel-home">
        <div class="panel-background">
          <i class="fa fa-cutlery"></i>
        </div>
        <div class="panel-heading"></div>
        <div class="panel-body">
          Skills
        </div>
        <div class="panel-footer"></div>
      </a>

      <a href="/#/work-experience" class="panel panel-home">
        <div class="panel-background">
          <i class="fa fa-briefcase"></i>
        </div>
        <div class="panel-heading"></div>
        <div class="panel-body">
          Work Experience
        </div>
        <div class="panel-footer"></div>
      </a>

      <a href="/#/hire-me" class="panel panel-home">
        <div class="panel-background">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="panel-heading"></div>
        <div class="panel-body">
          Hire Me
        </div>
        <div class="panel-footer"></div>
      </a>

</section>
