<h2 class="text-center">Work Experience</h2>

<section class="panel-container" ng-controller="WorkController as workCtrl">

      <div class="panel panel-work" ng-repeat="work in workCtrl.works">
        <div class="panel-heading">{{work.role}}</div>
        <div class="panel-body">{{work.title}}
          <div class="more" ng-show="work.readmore">
            <p>{{work.description}}</p>
            <ul>
              <li ng-repeat="(skill, pos) in work.skills">{{skill}}</li>
            </ul>
          </div>
        </div>

        <div class="panel-footer">
          <a href="" class="button readmore" ng-click="workCtrl.readMore($event, work)">read more</a>
        </div>
      </div>

</section>
