<div class="social">
  <ul>
    <li><a href="https://plus.google.com/u/0/+AndreaSonny/"><i class="fa fa-google"></i></a></li>
    <li><a href="https://www.facebook.com/andreasonny"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/andreasonny83"><i class="fa fa-twitter"></i></a></li>
    <li><a href="skype:andrea_zornada?add"><i class="fa fa-skype"></i></a></li>
    <li><a href="tel:+4407796336508"><i class="fa fa-whatsapp"></i></a></li>
    <li><a href="https://github.com/andreasonny83"><i class="fa fa-github-alt"></i></a></li>
    <li><a href="https://uk.linkedin.com/in/andreazornada"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://www.youtube.com/user/andreasonny83/"><i class="fa fa-youtube"></i></a></li>
  </ul>
</div>

<div class="copy">
  Copyright &copy; 2015 Copyright <a href="https://github.com/andreasonny83" alt="andreasonny83 on GitHub">&lt;SonnY&gt;</a>. All Rights Reserved<span class="underscore">_</span>
</div>
