<!-- Main navigation -->
<header class="header">
  <div id="inner-header" class="wrap container cf">

    <responsive-nav></responsive-nav>

    <!-- nav -->
    <nav role="navigation" class="main-nav text-center" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <ul class="menu cf">
        <li ng-hide="tab.hide" ng-repeat="tab in data.tabs | orderBy: 'pos'">
          <a href="{{tab.link}}">{{tab.title}}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="responsive-wrapper">
  <ul class="cf responsive-nav option-set">
    <li ng-hide="tab.hide" ng-repeat="tab in data.tabs | orderBy: 'pos'">
      <a href="{{tab.link}}">{{tab.title}}</a>
    </li>
  </ul>
</div>
