/******************************************************************

481px and up

******************************************************************/

h1, .h1 {
	font-size: 36px;
	line-height: 52px;
}

.container {
	width: 480px;
}

footer-section .social li {
	width: 25%;
}
